[host01]
type=server
address=host01
rank=primary

[host02]
type=server
address=host02
rank=secondary

[host03]
type=server
address=host03
rank=secondary

[monitor01]
type=monitor
module=mariadbmon
servers=host01,host02,host03
auto_failover=0
auto_rejoin=true
user=monitor_user
password=monitorsecret
monitor_interval=2s

[service01]
type=service
router=readwritesplit
servers=host01,host02,host03
master_reconnection=true
master_failure_mode=fail_on_write
master_accept_reads=false
max_replication_lag=1s
lazy_connect=true
user=maxscale
password=maxscalesecret

[listener01]
type=listener
service=service01
protocol=MariaDBClient
port=3306
